Repository ladybug-tools/ladybug, pull requests merged in 2020-01, with the labels that each got.

#190 fix(docstrings): Fixing incorrect docstrings
  ladybug/analysisperiod.py
  ladybug/dt.py
Labels: core, documentation, ladybug

#191 fix(designday): Refactor the DesignDay class with best practices
  ladybug/ddy.py
  ladybug/designday.py
  ladybug/epw.py
  ladybug/location.py
  ladybug/stat.py
  tests/ddy_test.py
  tests/fixtures/ddy/chicago_edited.ddy
  tests/fixtures/ddy/chicago_monthly.ddy
  tests/fixtures/zip/test.zip
  tests/futil_test.py
  tests/location_test.py
  tests/stat_test.py
Labels: core, critical, enhancement, ladybug

#198 feat(designday): Add option to include location in DesignDay dict
  ladybug/designday.py
Labels: core, critical, enhancement, ladybug

#199 style(pep8): Remove all `is True` and `is False` cases
  ladybug/_datacollectionbase.py
  ladybug/color.py
  ladybug/datacollection.py
  ladybug/datatype/base.py
  ladybug/datatype/generic.py
  ladybug/designday.py
  ladybug/epw.py
  ladybug/graphic.py
  ladybug/legend.py
  ladybug/skymodel.py
  ladybug/stat.py
  ladybug/wea.py
  tests/analysisperiod_test.py
  tests/datacollection_test.py
  tests/datacollectionimmutable_test.py
  tests/epw_test.py
  tests/graphic_test.py
  tests/legend_test.py
  tests/sunpath_test.py
Labels: core, enhancement, ladybug

#200 fix(designday): Use Date object for DesignDay
  ladybug/analysisperiod.py
  ladybug/designday.py
  ladybug/stat.py
  tests/ddy_test.py
  tests/stat_test.py
Labels: core, enhancement, ladybug

#201 feat(designday): Change DesignDay to use 2-int arrays for Dates
  ladybug/designday.py
  ladybug/dt.py
  tests/dt_test.py
Labels: core, critical, enhancement, ladybug

#202 style(datatype): Removing non-recommended import practice
  ladybug/datatype/base.py
Labels: core, enhancement, ladybug

#203 docs(coveralls): Update coveragerc
  .coveragerc
Labels: core, documentation, ladybug

#204 style(config_test): remove unused import
  tests/config_test.py
Labels: core, ladybug
